page-home {
    ion-toolbar {
        background-color: rgb(150, 150, 150);
        text-align: center;
    }
    ion-header {
        background-color: rgb(150, 150, 150);
        text-align: center;
    }
    ion-list {
        text-align: center;
    }
    .devices {
        border-radius: 5rem;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        text-align: center;
        font-weight: bold;
    }
    .scan {
        width: 80%;
    }
}