page-detail {
    ion-toolbar {
        background-color: rgb(150, 150, 150);
        text-align: center;
    }
    ion-header {
        background-color: rgb(150, 150, 150);
        text-align: center;
    }
    ion-grid{
        background-color:white;
    } 
}
